/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

h1 {
  margin-bottom: 30px;
}

/* SEARCH COMPONENT */

input {
  border: #e7d8d8 1px solid;
  height: 50px;
  width: 620px;
  font-size: 17px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: #f8efef;
}

/* EMOJI COMPONENT */

.line {
  height: 50px;
  width: 1024px;
  border: #e7d8d8 solid 1px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.line:hover {
  background-color: #f8efef;
}

.copy {
  font-size: 15px;
}

/* FOOTER PART */

footer {
  margin-top: 30px;
}

footer p {
  color: gray;
}

a:link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: black;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  .line {
    width: 790px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .line {
    width: 380px;
    height: 55px;
  }

  input {
    width: 300px;
  }
}
